In [2]:
import geocoder
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

In [9]:
# format of how this works
g = geocoder.google(' 96 AVENUE B, New York, NY, 10009')

In [64]:
g.latlng

[40.7247191, -73.9817288]

In [3]:
#zipcode_focus = [10021, 10028, 10065, 10075, 10128, 10001, 10018,10002, 10038, 10280, 10281, 10024, 10025, 10027, 10002, 10003, 10009, 10012]

zipcode_focus = [10065,10021, 10075,  10028,10128 ,10029]

In [35]:
#copy relevant addresses

geocoded = pd.read_csv("data/geocoder/all_addresses_ues.csv")

In [4]:
recent = pd.read_excel("data/rollingsales_manhattan.xls")
m14 = pd.read_excel("data/2014_manhattan.xls")
m15 = pd.read_excel("data/2015_manhattan.xls")
m16 = pd.read_excel("data/2016_manhattan.xls")

In [5]:
m14 = m14[4:]
m15 = m15[4:]
m16 = m16[4:]
recent = recent[4:]

In [6]:
header = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS',
       'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

In [7]:
m14.columns = header
m15.columns = header
m16.columns = header
recent.columns = header

In [8]:
m14.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [9]:
m14['ADDRESS_clean'] = m14['ADDRESS'].str.split(',').str[0]
m15['ADDRESS_clean'] = m15['ADDRESS'].str.split(',').str[0]
m16['ADDRESS_clean'] = m16['ADDRESS'].str.split(',').str[0]
recent['ADDRESS_clean'] = recent['ADDRESS'].str.split(',').str[0]

In [10]:
m14.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean
4,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,2,1400,1839,1901,1,S1,0,2014-12-05 00:00:00,96 AVENUE B
5,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,372,37,,S2,17 AVENUE D,,...,1,3,826,2075,1910,1,S2,0,2014-01-31 00:00:00,17 AVENUE D
6,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,0,3,2381,3084,1899,1,C0,2900000,2014-11-26 00:00:00,243 EAST 7TH STREET
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,2,10,2650,7620,1920,2,C7,0,2014-07-18 00:00:00,300 EAST 2ND STREET
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,373,15,,D1,324 EAST 4TH STREET,,...,0,11,2212,8294,1920,2,C3,0,2014-05-30 00:00:00,324 EAST 4TH STREET

In [11]:
m14['FullAddress'] = m14['ADDRESS_clean'] + ' New York, NY ' + m14['ZIP CODE'].astype(str)
m15['FullAddress'] = m15['ADDRESS_clean'] + ' New York, NY ' + m15['ZIP CODE'].astype(str)
m16['FullAddress'] = m16['ADDRESS_clean'] + ' New York, NY ' + m16['ZIP CODE'].astype(str)
recent['FullAddress'] = recent['ADDRESS_clean'] + ' New York, NY ' + recent['ZIP CODE'].astype(str)

In [12]:
recent_focus = recent[recent['ZIP CODE'].isin(zipcode_focus)]
m14_focus = m14[m14['ZIP CODE'].isin(zipcode_focus)]
m15_focus = m15[m15['ZIP CODE'].isin(zipcode_focus)]
m16_focus = m16[m16['ZIP CODE'].isin(zipcode_focus)]

In [26]:
all_ues_sales = recent_focus.append(m14_focus).append(m15_focus).append(m16_focus)

In [27]:
address_list_recent = recent['FullAddress'].tolist()

In [42]:
all_address = recent_focus['FullAddress'].tolist() + m15_focus['FullAddress'].tolist() + m14_focus['FullAddress'].tolist() + m16_focus['FullAddress'].tolist()

In [43]:
all_address = list(set(all_address))
latlong_alladddress_first = []

In [30]:
all_address[0: 5]

['200 WEST 79TH STREET New York, NY 10024',
 '67 RIVERSIDE DRIVE New York, NY 10024',
 '134 W 93RD STREET                         New York, NY 10025',
 '790 COLUMBUS AVENUE New York, NY 10025',
 '225 EAST 73RD STREET New York, NY 10021']

In [192]:
file = open('unique_addresses.txt', 'w')
for item in all_address:
    file.write("%s\n" % item)

In [44]:
# most addreses to a df
df = pd.DataFrame({'Full Address': all_address})

In [45]:
df.to_csv('all_addresses_ues.csv')

In [31]:
#all_ues_sales_geocode.head()

In [36]:
geocoded

,Full Address,LatLong
0,"1150 5 AVENUE New York, NY 10128","[40.787929, -73.9552666]"
1,"1148 5 AVENUE New York, NY 10128","[40.7875551, -73.9555219]"
2,14 EAST 96TH STREET New ...,"[40.787289, -73.954914]"
3,14 EAST 96TH STREET New ...,"[40.787289, -73.954914]"
4,"1140 5TH AVENUE New York, NY 10128","[40.7872602, -73.95588930000001]"
5,"16 EAST 96TH STREET New York, NY 10128","[40.7872519, -73.9546584]"
6,"65 EAST 96TH STREET New York, NY 10128","[40.787, -73.9531111]"
7,"1356 MADISON AVENUE New York, NY 10128","[40.7869266, -73.9547643]"
8,"1136 FIFTH AVENUE New York, NY 10128","[40.7869137, -73.9561648]"
9,"1136 5TH AVENUE New York, NY 10128","[40.7869137, -73.9561648]"
10,"27 EAST 95TH STREET New York, NY 10128","[40.7868014, -73.9548331]"
11,"1361 MADISON AVENUE New York, NY 10128","[40.7867711, -73.9542132]"
12,"1133 FIFTH AVENUE New York, NY 10128","[40.786705, -73.956226]"
13,"22 EAST 95TH STREET New York, NY 10128","[40.7865982, -73.9552349]"
14,"70 EAST 96TH STREET New York, NY 10128","[40.786595, -73.953422]"
15,"1236 PARK AVENUE New York, NY 10128","[40.7865029, -73.9530204]"
16,27 EAST 94TH STREET New ...,"[40.7861915, -73.9551546]"
17,"1235 PARK AVENUE New York, NY 10128","[40.786184, -73.9524625]"
18,"1220 PARK AVENUE New York, NY 10128","[40.7861278, -73.95325079999999]"
19,"9 EAST 93RD STREET New York, NY 10128","[40.7858195, -73.9562681]"
20,"1326 MADISON AVENUE New York, NY 10128","[40.7857969, -73.955499]"
21,"29 EAST 93RD STREET New York, NY 10128","[40.7855516, -73.9557401]"
22,"64 EAST 94TH STREET New York, NY 10128","[40.78542179999999, -73.9544887]"
23,"64 EAST 94TH ST New York, NY 10128","[40.78542179999999, -73.9544887]"
24,"18 EAST 93RD STREET New York, NY 10128","[40.7853436, -73.9561763]"
25,"140 EAST 95 STREET New York, NY 10128","[40.7852503, -73.9517339]"
26,"215 EAST 96TH STREET New York, NY 10128","[40.7851883, -73.947968]"
27,"1199 PARK AVENUE New York, NY 10128","[40.7851736, -73.9527438]"
28,1199 PARK AVENUE New ...,"[40.7851736, -73.9527438]"
29,17 EAST 92ND STREET New ...,"[40.7850906, -73.9565666]"
...,...,...
3809,"1810 3 AVENUE New York, NY 10029",0
3810,453 EAST 114 STREET New ...,0
3811,1411 5 AVENUE New ...,0
3812,1700 LEXINGTON AVENUE New ...,0
3813,"309 EAST 104TH STREET New York, NY 10029",0
3814,11-13 EAST 109 STREET New ...,0
3815,"2006 SECOND AVENUE New York, NY 10029",0
3816,117 EAST 102ND STREET New ...,0
3817,127 EAST 107 STREET New ...,0
3818,1810 3RD AVENUE New ...,0
3819,165 EAST 104 STREET New ...,0
3820,2241 FIRST AVENUE New ...,0
3821,102 EAST 103 New ...,0
3822,205 EAST 115TH STREET New ...,0
3823,1910 3 AVENUE New ...,0
3824,1516-1532 PARK AVENUE New ...,0
3825,"2141 2 AVENUE New York, NY 10029",0
3826,237 EAST 111TH STREET New ...,0
3827,162 EAST 111 STREET New ...,0
3828,"324 EAST 112 STREET New York, NY 10029",0
3829,409 EAST 115 STREET New ...,0
3830,309 EAST 108TH STRET New ...,0
3831,"129-31 102ND STREET New York, NY 10029",0
3832,"2018 THIRD AVENUE New York, NY 10029",0
3833,157 EAST 115 STREET New ...,0
3834,"1937 1 AVENUE New York, NY 10029",0
3835,"152 EAST 116 STREET New York, NY 10029",0
3836,"129 EAST 102ND STREET New York, NY 10029",0
3837,"1553 LEXINGTON AVENUE New York, NY 10029",0
3838,126 EAST 103RD STREET New ...,0

In [37]:
geocoded.columns = ['FullAddress', 'LAT_LONG']

In [38]:
all_ues_sales_geocode = pd.merge(all_ues_sales, geocoded, on = ['FullAddress'])

In [39]:
all_ues_sales_geocode.to_csv('all_ues_sales_geocode.csv')