In [3]:
import geocoder
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

In [9]:
# format of how this works
g = geocoder.google(' 96 AVENUE B, New York, NY, 10009')

In [64]:
g.latlng

[40.7247191, -73.9817288]

In [1]:

zipcode_focus = [10065,10021, 10075, 10028,10128 ,10029]

In [18]:
#copy relevant addresses

geocoded = pd.read_csv("data/geocoder/all_addresses_ues.csv")

In [3]:
recent = pd.read_excel("data/rollingsales_manhattan.xls")
m14 = pd.read_excel("data/2014_manhattan.xls")
m15 = pd.read_excel("data/2015_manhattan.xls")
m16 = pd.read_excel("data/2016_manhattan.xls")

In [4]:
m14 = m14[4:]
m15 = m15[4:]
m16 = m16[4:]
recent = recent[4:]

In [5]:
header = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS',
       'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

In [6]:
m14.columns = header
m15.columns = header
m16.columns = header
recent.columns = header

In [7]:
m14.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [55]:
m14['ADDRESS_clean'] = m14['ADDRESS'].str.split(',').str[0]
m15['ADDRESS_clean'] = m15['ADDRESS'].str.split(',').str[0]
m16['ADDRESS_clean'] = m16['ADDRESS'].str.split(',').str[0]
recent['ADDRESS_clean'] = recent['ADDRESS'].str.split(',').str[0]

In [56]:
m14.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean
4,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,2,1400,1839,1901,1,S1,0,2014-12-05 00:00:00,96 AVENUE B
5,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,372,37,,S2,17 AVENUE D,,...,1,3,826,2075,1910,1,S2,0,2014-01-31 00:00:00,17 AVENUE D
6,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,0,3,2381,3084,1899,1,C0,2900000,2014-11-26 00:00:00,243 EAST 7TH STREET
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,2,10,2650,7620,1920,2,C7,0,2014-07-18 00:00:00,300 EAST 2ND STREET
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,373,15,,D1,324 EAST 4TH STREET,,...,0,11,2212,8294,1920,2,C3,0,2014-05-30 00:00:00,324 EAST 4TH STREET

In [57]:
m14['FullAddress'] = m14['ADDRESS_clean'] + ' New York, NY ' + m14['ZIP CODE'].astype(str)
m15['FullAddress'] = m15['ADDRESS_clean'] + ' New York, NY ' + m15['ZIP CODE'].astype(str)
m16['FullAddress'] = m16['ADDRESS_clean'] + ' New York, NY ' + m16['ZIP CODE'].astype(str)
recent['FullAddress'] = recent['ADDRESS_clean'] + ' New York, NY ' + recent['ZIP CODE'].astype(str)

In [58]:
recent_focus = recent[recent['ZIP CODE'].isin(zipcode_focus)]
m14_focus = m14[m14['ZIP CODE'].isin(zipcode_focus)]
m15_focus = m15[m15['ZIP CODE'].isin(zipcode_focus)]
m16_focus = m16[m16['ZIP CODE'].isin(zipcode_focus)]

In [59]:
all_ues_sales = recent_focus.append(m14_focus).append(m15_focus).append(m16_focus)

In [27]:
address_list_recent = recent['FullAddress'].tolist()

In [42]:
all_address = recent_focus['FullAddress'].tolist() + m15_focus['FullAddress'].tolist() + m14_focus['FullAddress'].tolist() + m16_focus['FullAddress'].tolist()

In [43]:
all_address = list(set(all_address))
latlong_alladddress_first = []

In [30]:
all_address[0: 5]

['200 WEST 79TH STREET New York, NY 10024',
 '67 RIVERSIDE DRIVE New York, NY 10024',
 '134 W 93RD STREET                         New York, NY 10025',
 '790 COLUMBUS AVENUE New York, NY 10025',
 '225 EAST 73RD STREET New York, NY 10021']

In [192]:
file = open('unique_addresses.txt', 'w')
for item in all_address:
    file.write("%s\n" % item)

In [44]:
# most addreses to a df
df = pd.DataFrame({'Full Address': all_address})

In [45]:
df.to_csv('all_addresses_ues.csv')

In [31]:
#all_ues_sales_geocode.head()

In [49]:
#geocoded

In [60]:
geocoded.columns = ['FullAddress', 'LAT_LONG']

In [61]:
all_ues_sales_geocode = pd.merge(all_ues_sales, geocoded, on = ['FullAddress'])

In [63]:
all_ues_sales_geocode = all_ues_sales_geocode.drop_duplicates()

In [64]:
all_ues_sales_geocode.to_csv('all_ues_sales_geocode.csv')

In [ ]:
#edit out comma

In [6]:
final = pd.read_csv("all_ues_sales_geocode.csv")

In [34]:
#final['LAT'], final['LONG'] = final['LAT_LONG'].str.split(',', 1).str
final['LAT'] = final['LAT'].str.replace('(', '').replace('[', '')
final['LONG'] = final['LONG'].str.replace(')', '').replace(']', '')

In [36]:
final.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean,FullAddress,LAT_LONG,LAT,LONG
0,0,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1625,101,,A9,101B EAST 97TH STREET,...,1925,1,A9,0,2017-03-07 00:00:00,101B EAST 97TH STREET,"101B EAST 97TH STREET New York, NY 10029","(40.7871689, -73.9516058430669)",40.7871689,-73.9516058430669
1,1,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,65,,A5,122 EAST 101ST STREET,...,1890,1,A5,3900000,2017-08-31 00:00:00,122 EAST 101ST STREET,"122 EAST 101ST STREET New York, NY 10029","(40.78926485, -73.9495173205937)",40.78926485,-73.9495173205937
2,2,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,71,,A5,104 EAST 101 STREET,...,1890,1,A5,0,2017-03-31 00:00:00,104 EAST 101 STREET,"104 EAST 101 STREET New York, NY 10029",NaN,NaN,NaN
3,3,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1688,15,,S1,333 EAST 116 STREET,...,1899,1,S1,375000,2017-10-10 00:00:00,333 EAST 116 STREET,"333 EAST 116 STREET New York, NY 10029",0,0,NaN
4,4,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1643,22,,S2,153 EAST 115 STREET,...,1900,1,S2,1319700,2017-07-12 00:00:00,153 EAST 115 STREET,"153 EAST 115 STREET New York, NY 10029",0,0,NaN

In [38]:
final.to_csv('all_ues_sales_geocode.csv')

In [8]:
#edit title

ues_data = pd.read_csv('all_ues_sales_geocode.csv')

In [14]:
ues_data['SALE DATE'] = pd.to_datetime(ues_data['SALE DATE'])

In [15]:

ues_data['YEAR'] = pd.DatetimeIndex(ues_data['SALE DATE']).year
ues_data['MONTH'] = pd.DatetimeIndex(ues_data['SALE DATE']).month

In [16]:
ues_data

,Unnamed: 0,Unnamed: 0.1,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,...,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean,FullAddress,LAT_LONG,LAT,LONG,YEAR,MONTH
0,0,0,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1625,101,,A9,...,A9,0,2017-03-07,101B EAST 97TH STREET,"101B EAST 97TH STREET New York, NY 10029","(40.7871689, -73.9516058430669)",40.7871689,-73.95160584,2017,3
1,1,1,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,65,,A5,...,A5,3900000,2017-08-31,122 EAST 101ST STREET,"122 EAST 101ST STREET New York, NY 10029","(40.78926485, -73.9495173205937)",40.78926485,-73.94951732,2017,8
2,2,2,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,71,,A5,...,A5,0,2017-03-31,104 EAST 101 STREET,"104 EAST 101 STREET New York, NY 10029",NaN,NaN,NaN,2017,3
3,3,3,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1688,15,,S1,...,S1,375000,2017-10-10,333 EAST 116 STREET,"333 EAST 116 STREET New York, NY 10029",0,0,NaN,2017,10
4,4,4,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1643,22,,S2,...,S2,1319700,2017-07-12,153 EAST 115 STREET,"153 EAST 115 STREET New York, NY 10029",0,0,NaN,2017,7
5,5,5,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1710,108,,B3,...,B3,0,2017-11-08,413 EAST 116TH STREET,"413 EAST 116TH STREET New York, NY 10029","(40.79589245, -73.9345862678688)",40.79589245,-73.93458627,2017,11
6,6,6,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1659,31,,C0,...,C0,2500000,2017-04-11,242 EAST 110 STREET,"242 EAST 110 STREET New York, NY 10029",0,0,NaN,2017,4
7,7,7,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1660,117,,C0,...,C0,0,2017-04-28,237 EAST 110 STREET,"237 EAST 110 STREET New York, NY 10029",0,0,NaN,2017,4
8,8,8,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1660,118,,C0,...,C0,0,2017-03-10,239 EAST 110 STREET,"239 EAST 110 STREET New York, NY 10029",0,0,NaN,2017,3
9,9,9,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1661,41,,C0,...,C0,0,2017-09-13,218 EAST 112 STREET,"218 EAST 112 STREET New York, NY 10029",0,0,NaN,2017,9
10,10,10,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1661,110,,C0,...,C0,0,2017-05-08,217 EAST 111 STREET,"217 EAST 111 STREET New York, NY 10029",0,0,NaN,2017,5
11,11,11,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1661,110,,C0,...,C0,0,2017-03-22,217 EAST 111TH STREET,"217 EAST 111TH STREET New York, NY 10029","(40.79456745, -73.94135675)",40.79456745,-73.94135675,2017,3
12,12,12,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,2A,1710,11,,C3,...,C0,1533000,2017-07-31,419 EAST 116 STREET,"419 EAST 116 STREET New York, NY 10029",NaN,NaN,NaN,2017,7
13,13,13,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1621,41,,C7,...,C7,5400000,2018-01-30,74 EAST 116 STREET,"74 EAST 116 STREET New York, NY 10029",0,0,NaN,2018,1
14,14,14,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1625,71,,C4,...,C4,0,2017-06-29,1265 PARK AVENUE,"1265 PARK AVENUE New York, NY 10029","(40.7874993, -73.9514555279825)",40.7874993,-73.95145553,2017,6
15,15,15,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1627,21,,C7,...,C7,0,2017-06-29,1555 LEXINGTON AVENUE,"1555 LEXINGTON AVENUE New York, NY 10029","(40.7879286, -73.9491294359391)",40.7879286,-73.94912944,2017,6
16,16,16,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1627,22,,C7,...,C7,0,2017-06-29,1553 LEXINGTON AVENUE,"1553 LEXINGTON AVENUE New York, NY 10029",0,0,NaN,2017,6
17,17,17,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1628,2,,C1,...,C1,0,2017-06-29,103 EAST 100 STREET,"103 EAST 100 STREET New York, NY 10029",NaN,NaN,NaN,2017,6
18,18,18,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,4,,C4,...,C4,0,2017-06-29,1325 PARK AVENUE,"1325 PARK AVENUE New York, NY 10029","(40.7892407, -73.9501180519357)",40.7892407,-73.95011805,2017,6
19,19,19,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,6,,C4,...,C4,3826858,2017-06-29,111-117 EAST 100 STREET,"111-117 EAST 100 STREET New York, NY 10029",0,0,NaN,2017,6
20,20,20,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,10,,C1,...,C1,0,2017-06-29,119-121 EAST 100 STREET,"119-121 EAST 100 STREET New York, NY 10029",0,0,NaN,2017,6
21,21,21,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,49,,C4,...,C4,0,2017-06-29,178 EAST 101 STREET,"178 EAST 101 STREET New York, NY 10029",0,0,NaN,2017,6
22,22,22,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,103,,C4,...,C4,125500,2017-06-29,107 EAST 100 STREET,"107 EAST 100 STREET New York, NY 10029",NaN,NaN,NaN,2017,6
23,23,23,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1629,30,,C1,...,C1,3730232,2017-06-29,177-179 EAST 101ST,"177-179 EAST 101ST New York, NY 10029",NaN,NaN,NaN,2017,6
24,24,24,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1629,64,,C1,...,C1,0,2017-06-29,116 EAST 102 STREET,"116 EAST 102 STREET New York, NY 10029",0,0,NaN,2017,6
25,25,25,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1629,65,,C1,...,C1,0,2017-06-29,114 EAST 102 STREET,"114 EAST 102 STREET New York, NY 10029",0,0,NaN,2017,6
26,26,26,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1631,47,,C4,...,C4,6800000,2017-05-16,168 EAST 104 STREET,"168 EAST 104 STREET New York, NY 10029",0,0,NaN,2017,5
27,27,27,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1631,48,,C4,...,C4,0,2017-05-16,166 EAST 104 STREET,"166 EAST 104 STREET New York, NY 10029",0,0,NaN,2017,5
28,28,28,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1632,145,,C5,...,C5,5280000,2017-08-10,164 EAST 105TH STREET,"164 EAST 105TH STREET New York, NY 10029","(40.79110325, -73.9461557443282)",40.79110325,-73.94615574,2017,8
29,29,29,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1633,19,,C7,...,C7,5000000,2017-12-05,1675 LEXINGTON AVENUE,"1675 LEXINGTON AVENUE New York, NY 10029","(40.7916166, -73.9465711)",40.7916166,-73.9465711,2017,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,15231,15300,1,UPPER EAST SIDE (79-96),26 OTHER HOTELS,4,1577,149,,H3,...,H3,6450000,2016-01-19,502 EAST 81ST ST,502 EAST 81ST ST New ...,0,0,NaN,2016,1
15232,15232,15301,1,UPPER EAST SIDE (79-96),30 WAREHOUSES,4,1516,24,,E9,...,E1,9975000,2016-11-15,159 EAST 87TH STREET,159 EAST 87TH STREET New ...,"[40.780178, -73.95451]",[40.780178,-73.95451],2016,11
15233,15233,15302,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1510,40,,V1,...,V1,100000,2016-02-22,1444 3 AVENUE,1444 3 AVENUE New ...,0,0,NaN,2016,2
15234,15234,15303,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,1,,V1,...,V1,0,2016-10-31,1538 SECOND AVENUE,1538 SECOND AVENUE New ...,"(42.8020272, -73.9503835)",42.8020272,-73.9503835,2016,10
15235,15235,15304,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,2,,V1,...,V1,0,2016-10-31,1540 SECOND AVENUE,1540 SECOND AVENUE New ...,0,0,NaN,2016,10
15236,15236,15305,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,3,,V1,...,V1,0,2016-10-31,1542 SECOND AVENUE,1542 SECOND AVENUE New ...,0,0,NaN,2016,10
15237,15237,15306,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,4,,V1,...,V1,0,2016-10-31,1544 SECOND AVENUE,1544 SECOND AVENUE New ...,"[40.7741941, -73.9540919]",[40.7741941,-73.9540919],2016,10
15238,15238,15307,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,52,,V1,...,V1,0,2016-10-31,1546 SECOND AVENUE,1546 SECOND AVENUE New ...,0,0,NaN,2016,10
15239,15239,15308,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,104,,V1,...,V1,0,2016-10-31,1540R 2 AVENUE,1540R 2 AVENUE New ...,0,0,NaN,2016,10
15240,15240,15309,1,UPPER EAST SIDE (79-96),33 EDUCATIONAL FACILITIES,4,1550,31,,W3,...,W3,15000000,2016-04-19,350 EAST 88TH STREET,350 EAST 88TH STREET New ...,"(40.77822535, -73.9492110115326)",40.77822535,-73.94921101,2016,4
15241,15241,15310,1,UPPER EAST SIDE (79-96),37 RELIGIOUS FACILITIES,4,1496,41,,M1,...,M1,0,2016-03-06,1012 PARK AVENUE,1012 PARK AVENUE New ...,0,0,NaN,2016,3
15242,15242,15311,1,UPPER EAST SIDE (79-96),42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC,,1538,1105,,,...,RA,34194956,2016-07-28,212 EAST 93RD STREET,212 EAST 93RD STREET New ...,0,0,NaN,2016,7
15243,15243,15312,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,14,,C7,...,C7,0,2016-12-28,23 EAST 108,23 EAST 108 New ...,0,0,NaN,2016,12
15244,15244,15313,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2B,1614,57,,C4,...,C4,0,2016-12-28,26 EAST 109 STREET,26 EAST 109 STREET New ...,0,0,NaN,2016,12
15245,15245,15314,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,58,,C1,...,C1,0,2016-12-28,24 EAST 109 STREET,24 EAST 109 STREET New ...,0,0,NaN,2016,12
15246,15246,15315,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,60,,C1,...,C1,0,2016-12-28,22 EAST 109 STREET,22 EAST 109 STREET New ...,NaN,NaN,NaN,2016,12
15247,15247,15316,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2B,1614,62,,C1,...,C1,0,2016-12-28,18 EAST 109 STREET,18 EAST 109 STREET New ...,0,0,NaN,2016,12
15248,15248,15317,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,63,,C1,...,C1,9734400,2016-12-28,16 EAST 109 STREET,16 EAST 109 STREET New ...,0,0,NaN,2016,12
15249,15249,15318,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1615,9,,C1,...,C1,6827200,2016-12-28,11-13 EAST 109 STREET,11-13 EAST 109 STREET New ...,0,0,NaN,2016,12
15250,15250,15319,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1615,10,,C1,...,C1,0,2016-12-28,15-17 EAST 109 STREET,15-17 EAST 109 STREET New ...,0,0,NaN,2016,12
15251,15251,15320,1,UPPER EAST SIDE (96-110),08 RENTALS - ELEVATOR APARTMENTS,2,1615,60,,D5,...,D5,10140400,2016-12-28,8-18 EAST 110 STREET,8-18 EAST 110 STREET New ...,0,0,NaN,2016,12
15252,15252,15321,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,0,2016-02-17,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,2
15253,15253,15322,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,1175000,2016-04-01,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,4
15254,15254,15323,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,1725000,2016-07-28,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,7
15255,15255,15324,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,2750000,2016-08-01,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,8
15256,15256,15325,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,3725000,2016-08-08,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,8
15257,15257,15326,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,1400000,2016-04-04,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,4
15258,15258,15327,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1603,60,,D4,...,D4,999000,2016-12-21,16 EAST 98 STREET,"16 EAST 98 STREET New York, NY 10029",0,0,NaN,2016,12
15259,15259,15328,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1608,1,,D4,...,D4,7900000,2016-07-26,1215 5 AVENUE,"1215 5 AVENUE New York, NY 10029","(40.5898081538462, -73.9580498461538)",40.58980815,-73.95804985,2016,7
15260,15260,15329,1,UPPER EAST SIDE (96-110),13 CONDOS - ELEVATOR APARTMENTS,2,1607,1044,,R4,...,R4,2561497,2016-02-19,1200 5TH AVENUE,1200 5TH AVENUE New ...,"(40.7912166, -73.9531347)",40.7912166,-73.9531347,2016,2

In [33]:
ues_data.to_csv('all_ues_sales_geocode.csv')

In [34]:
#merge 17_jan feb with rest of 17-18 data
data1718 = pd.read_csv('all_ues_sales_geocode_2017-2018.csv')
#data_0102 = pd.read_csv('addresses-ues-jan-feb-2017-geocoded.csv')

In [2]:
#edit title

ues_data = pd.read_csv('all_ues_sales_geocode_2017-2018.csv')

NameError: name 'pd' is not defined

In [29]:
ues_data['SALE DATE'] = pd.to_datetime(ues_data['SALE DATE'])

In [30]:

ues_data['YEAR'] = pd.DatetimeIndex(ues_data['SALE DATE']).year
ues_data['MONTH'] = pd.DatetimeIndex(ues_data['SALE DATE']).month

In [31]:
ues_data

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean,FullAddress,LAT_LONG,LAT,LONG,YEAR,MONTH
0,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1621,41,,C7,74 EAST 116 STREET,,...,C7,5400000,2018-01-30,74 EAST 116 STREET,"74 EAST 116 STREET New York, NY 10029","(40.799407, -73.943865)",40.799407,-73.943865,2018,1
1,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1633,33,,C7,1904 THIRD AVE,,...,C7,0,2018-01-30,1904 THIRD AVE,"1904 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
2,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1633,34,,C7,1906 THIRD AVE,,...,C7,0,2018-01-30,1906 THIRD AVE,"1906 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
3,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1676,17,,C1,337 EAST 104TH STREET,,...,C1,0,2018-02-16,337 EAST 104TH STREET,"337 EAST 104TH STREET New York, NY 10029","(40.78883945, -73.94182945)",40.788839,-73.941829,2018,2
4,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1680,15,,C7,323 EAST 108TH STREET,,...,C7,0,2018-02-16,323 EAST 108TH STREET,"323 EAST 108TH STREET New York, NY 10029","(40.7915399, -73.9400093)",40.791540,-73.940009,2018,2
5,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1680,40,,C4,326 EAST 109TH STREET,,...,C4,0,2018-02-16,326 EAST 109TH STREET,"326 EAST 109TH STREET New York, NY 10029","(40.7918547, -73.93990431)",40.791855,-73.939904,2018,2
6,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1680,42,,C1,322 EAST 109TH STREET,,...,C1,0,2018-02-16,322 EAST 109TH STREET,"322 EAST 109TH STREET New York, NY 10029","(40.79191845, -73.94006236)",40.791918,-73.940062,2018,2
7,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1681,5,,C1,305 EAST 109TH STREET,,...,C1,0,2018-02-16,305 EAST 109TH STREET,"305 EAST 109TH STREET New York, NY 10029","(40.7925169, -73.94036309)",40.792517,-73.940363,2018,2
8,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1681,6,,C1,307 EAST 109TH STREET,,...,C1,0,2018-02-16,307 EAST 109TH STREET,"307 EAST 109TH STREET New York, NY 10029","(40.7924786, -73.9402948)",40.792479,-73.940295,2018,2
9,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1682,7,,C4,309 EAST 110 STREET,,...,C4,0,2018-02-16,309 EAST 110 STREET,"309 EAST 110 STREET New York, NY 10029","(40.792986, -73.939835)",40.792986,-73.939835,2018,2
10,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1682,52,,C7,2154 SECOND AVENUE,,...,C7,0,2018-02-16,2154 SECOND AVENUE,"2154 SECOND AVENUE New York, NY 10029","(42.8020272, -73.9503835)",42.802027,-73.950384,2018,2
11,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1617,7,,D1,1680 MADISON AVENUE,,...,D1,57000000,2018-01-22,1680 MADISON AVENUE,"1680 MADISON AVENUE New York, NY 10029","(40.7971849, -73.9471213)",40.797185,-73.947121,2018,1
12,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1617,7,,D1,1680 MADISON AVENUE,,...,D1,0,2018-01-22,1680 MADISON AVENUE,"1680 MADISON AVENUE New York, NY 10029","(40.7971849, -73.9471213)",40.797185,-73.947121,2018,1
13,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1675,11,,D1,315 EAST 103 STREET,,...,D1,5499827,2018-01-31,315 EAST 103 STREET,"315 EAST 103 STREET New York, NY 10029","(40.788289, -73.942591)",40.788289,-73.942591,2018,1
14,1,HARLEM-EAST,09 COOPS - WALKUP APARTMENTS,2,1630,16,,C6,"129 EAST 102 STREET, 5A",,...,C6,165000,2018-02-05,129 EAST 102 STREET,"129 EAST 102 STREET New York, NY 10029","(40.789846, -73.948266)",40.789846,-73.948266,2018,2
15,1,HARLEM-EAST,12 CONDOS - WALKUP APARTMENTS,2,1630,1109,,R2,173 EAST 102 STREET,3D,...,R2,0,2018-02-01,173 EAST 102 STREET,"173 EAST 102 STREET New York, NY 10029","(40.789387, -73.947176)",40.789387,-73.947176,2018,2
16,1,HARLEM-EAST,12 CONDOS - WALKUP APARTMENTS,2,1660,1009,,R2,2141 2 AVENUE,5A,...,R2,330000,2018-02-02,2141 2 AVENUE,"2141 2 AVENUE New York, NY 10029","(40.793365, -73.940663)",40.793365,-73.940663,2018,2
17,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1638,1008,,R4,161 EAST 110 STREET,2G,...,R4,625000,2018-01-24,161 EAST 110 STREET,"161 EAST 110 STREET New York, NY 10029","(40.794705, -73.943607)",40.794705,-73.943607,2018,1
18,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1638,1032,,R4,161 EAST 110 STREET,4I,...,R4,545000,2018-02-14,161 EAST 110 STREET,"161 EAST 110 STREET New York, NY 10029","(40.794705, -73.943607)",40.794705,-73.943607,2018,2
19,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1676,1427,,R4,2019 1 AVENUE,6D,...,R4,531000,2018-01-31,2019 1 AVENUE,"2019 1 AVENUE New York, NY 10029","(40.5907473265306, -73.94947422)",40.590747,-73.949474,2018,1
20,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1680,1120,,R4,330 EAST 109TH STREET,6B,...,R4,575000,2018-01-18,330 EAST 109TH STREET,"330 EAST 109TH STREET New York, NY 10029","(40.7921486734694, -73.94030114)",40.792149,-73.940301,2018,1
21,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1681,1111,,R4,342 EAST 110 STREET,3D,...,R4,767500,2018-02-01,342 EAST 110 STREET,"342 EAST 110 STREET New York, NY 10029","(40.792628, -73.939867)",40.792628,-73.939867,2018,2
22,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1681,1214,,R4,333 EAST 109TH STREET,4B,...,R4,623500,2018-01-24,333 EAST 109TH STREET,"333 EAST 109TH STREET New York, NY 10029","(40.7922749183673, -73.94015429)",40.792275,-73.940154,2018,1
23,1,HARLEM-EAST,14 RENTALS - 4-10 UNIT,2A,1680,49,,S9,2118 SECOND AVENUE,,...,S9,0,2018-02-16,2118 SECOND AVENUE,"2118 SECOND AVENUE New York, NY 10029","(42.8020272, -73.9503835)",42.802027,-73.950384,2018,2
24,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 E 96 ST, CONDP",,...,R9,820000,2018-01-03,215 E 96 ST,"215 E 96 ST New York, NY 10128","(40.785036, -73.948381)",40.785036,-73.948381,2018,1
25,1,HARLEM-EAST,22 STORE BUILDINGS,4,1631,38,,K2,1878 THIRD AVE,,...,K2,0,2018-01-30,1878 THIRD AVE,"1878 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
26,1,HARLEM-EAST,22 STORE BUILDINGS,4,1631,38,,K2,1878 THIRD AVE,,...,K2,0,2018-01-13,1878 THIRD AVE,"1878 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
27,1,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1398,24,,A4,143 EAST 63RD STREET,,...,A4,15225000,2018-01-31,143 EAST 63RD STREET,"143 EAST 63RD STREET New York, NY 10065","(40.76469435, -73.96580773)",40.764694,-73.965808,2018,1
28,1,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1398,123,,S0,141 EAST 63RD STREET,,...,S0,0,2018-01-31,141 EAST 63RD STREET,"141 EAST 63RD STREET New York, NY 10065","(40.764657, -73.96589)",40.764657,-73.965890,2018,1
29,1,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1398,168,,A4,110 EAST 64TH STREET,,...,A4,9500000,2018-01-09,110 EAST 64TH STREET,"110 EAST 64TH STREET New York, NY 10065","(40.76572, -73.967024)",40.765720,-73.967024,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,1,HARLEM-CENTRAL,41 TAX CLASS 4 - OTHER,4,1751,38,,Z9,1852 PARK AVENUE,,...,Z9,-,2017-01-27,40.806218,-73.938445,"(40.806218, -73.938445)",NaN,NaN,2017,1
3695,1,HARLEM-CENTRAL,41 TAX CLASS 4 - OTHER,4,1751,137,,Z9,1850 PARK AVENUE,,...,Z9,-,2017-01-27,40.806149,-73.938483,"(40.806149, -73.938483)",NaN,NaN,2017,1
3696,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,71,,A5,104 EAST 101ST STREET,,...,A5,-,2017-02-04,40.78951,-73.949938,"(40.78951, -73.949938)",NaN,NaN,2017,2
3697,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1807,133,,B1,436 EAST 120 STREET,,...,B1,424797,2017-02-27,40.797846,-73.932152,"(40.797846, -73.932152)",NaN,NaN,2017,2
3698,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1623,44,,C0,60 EAST 118TH STREET,,...,C0,10,2017-02-10,40.800864,-73.943255,"(40.800864, -73.943255)",NaN,NaN,2017,2
3699,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1634,28,,C4,159 EAST 106 STREET,,...,C4,2245945,2017-02-21,40.792082,-73.945493,"(40.792082, -73.945493)",NaN,NaN,2017,2
3700,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1638,140,,C3,184 EAST 111 STREET,,...,C3,1469500,2017-02-08,40.794879,-73.942914,"(40.794879, -73.942914)",NaN,NaN,2017,2
3701,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1796,7,,C4,311 EAST 119 STREET,,...,C4,-,2017-01-28,40.798774,-73.935691,"(40.798774, -73.935691)",NaN,NaN,2017,1
3702,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1796,7,,C4,311 EAST 119 STREET,,...,C4,1825000,2017-01-27,40.798774,-73.935691,"(40.798774, -73.935691)",NaN,NaN,2017,1
3703,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1815,10,,C4,515 EAST 118TH STREET,,...,C4,1825000,2017-02-16,40.796106,-73.931257,"(40.796106, -73.931257)",NaN,NaN,2017,2
3704,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1630,5,,D3,109 EAST 102 STREET,,...,D3,14700000,2017-01-19,40.790324,-73.949035,"(40.790324, -73.949035)",NaN,NaN,2017,1
3705,1,HARLEM-EAST,09 COOPS - WALKUP APARTMENTS,2,1624,43,,C6,"156 EAST 97TH STREET, 1",,...,C6,200000,2017-02-06,40.786084,-73.949598,"(40.786084, -73.949598)",NaN,NaN,2017,2
3706,1,HARLEM-EAST,09 COOPS - WALKUP APARTMENTS,2,1624,44,,C6,"154 EAST 97TH STREET, 14",,...,C6,218000,2017-01-04,40.78612,-73.949684,"(40.78612, -73.949684)",NaN,NaN,2017,1
3707,1,HARLEM-EAST,12 CONDOS - WALKUP APARTMENTS,2,1788,1115,,R2,206 EAST 124 STREET,5B,...,R2,497900,2017-01-24,40.802687,-73.935765,"(40.802687, -73.935765)",NaN,NaN,2017,1
3708,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1616,1006,,R4,77 EAST 110 STREET,3B,...,R4,173394,2017-02-13,40.795804,-73.946495,"(40.795804, -73.946495)",NaN,NaN,2017,2
3709,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1204,,R4,1810 3 AVENUE,2A,...,R4,595000,2017-02-28,40.78821,-73.94736,"(40.78821, -73.94736)",NaN,NaN,2017,2
3710,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1209,,R4,194 EAST 101 STREET,2B,...,R4,710000,2017-01-31,40.788449,-73.947436,"(40.788449, -73.947436)",NaN,NaN,2017,1
3711,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1249,,R4,194 EAST 101 STREET,7B,...,R4,755000,2017-01-06,40.788449,-73.947436,"(40.788449, -73.947436)",NaN,NaN,2017,1
3712,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1253,,R4,1810 3 AVENUE,8B,...,R4,585292,2017-01-17,40.78821,-73.94736,"(40.78821, -73.94736)",NaN,NaN,2017,1
3713,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1257,,R4,194 EAST 101 STREET,8B,...,R4,790000,2017-02-07,40.788449,-73.947436,"(40.788449, -73.947436)",NaN,NaN,2017,2
3714,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1259,,R4,194 EAST 101 STREET,8D,...,R4,792163,2017-02-15,40.788449,-73.947436,"(40.788449, -73.947436)",NaN,NaN,2017,2
3715,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1273,,R4,1810 3 AVENUE,11B,...,R4,605000,2017-02-08,40.78821,-73.94736,"(40.78821, -73.94736)",NaN,NaN,2017,2
3716,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1629,1135,,R4,1595 LEXINGTON AVENUE,4G,...,R4,638000,2017-01-25,40.789192,-73.948331,"(40.789192, -73.948331)",NaN,NaN,2017,1
3717,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1631,1035,,R4,1635 LEXINGTON AVENUE,7C,...,R4,801362,2017-02-10,40.790594,-73.947215,"(40.790594, -73.947215)",NaN,NaN,2017,2
3718,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1638,1061,,R4,161 EAST 110 STREET,7E,...,R4,-,2017-01-19,40.794705,-73.943607,"(40.794705, -73.943607)",NaN,NaN,2017,1
3719,1,HARLEM-EAST,14 RENTALS - 4-10 UNIT,2A,1616,38,,S3,94 EAST 111 STREET,,...,S3,-,2017-01-31,40.796178,-73.945986,"(40.796178, -73.945986)",NaN,NaN,2017,1
3720,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1002,,R9,"215 EAST 96TH STREET, 39H",,...,R9,1255000,2017-02-15,40.785036,-73.948381,"(40.785036, -73.948381)",NaN,NaN,2017,2
3721,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 EAST 96TH STREET, CONDP",,...,R9,1450000,2017-01-05,40.785036,-73.948381,"(40.785036, -73.948381)",NaN,NaN,2017,1
3722,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 EAST 96TH STREET, CONDP",,...,R9,957500,2017-01-31,40.785036,-73.948381,"(40.785036, -73.948381)",NaN,NaN,2017,1
3723,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 EAST 96TH STREET, CONDP",,...,R9,870000,2017-01-19,40.785036,-73.948381,"(40.785036, -73.948381)",NaN,NaN,2017,1

In [32]:
ues_data.to_csv('all_ues_sales_geocode_2017-2018.csv')

In [35]:
data1718

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean,FullAddress,LAT_LONG,LAT,LONG,YEAR,MONTH
0,0,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1621,41,,C7,74 EAST 116 STREET,...,C7,5400000,1/30/18,74 EAST 116 STREET,"74 EAST 116 STREET New York, NY 10029","(40.799407, -73.943865)",40.799407,-73.943865,2018,1
1,1,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1633,33,,C7,1904 THIRD AVE,...,C7,0,1/30/18,1904 THIRD AVE,"1904 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
2,2,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1633,34,,C7,1906 THIRD AVE,...,C7,0,1/30/18,1906 THIRD AVE,"1906 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
3,3,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1676,17,,C1,337 EAST 104TH STREET,...,C1,0,2/16/18,337 EAST 104TH STREET,"337 EAST 104TH STREET New York, NY 10029","(40.78883945, -73.94182945)",40.788839,-73.941829,2018,2
4,4,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1680,15,,C7,323 EAST 108TH STREET,...,C7,0,2/16/18,323 EAST 108TH STREET,"323 EAST 108TH STREET New York, NY 10029","(40.7915399, -73.9400093)",40.791540,-73.940009,2018,2
5,5,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1680,40,,C4,326 EAST 109TH STREET,...,C4,0,2/16/18,326 EAST 109TH STREET,"326 EAST 109TH STREET New York, NY 10029","(40.7918547, -73.93990431)",40.791855,-73.939904,2018,2
6,6,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1680,42,,C1,322 EAST 109TH STREET,...,C1,0,2/16/18,322 EAST 109TH STREET,"322 EAST 109TH STREET New York, NY 10029","(40.79191845, -73.94006236)",40.791918,-73.940062,2018,2
7,7,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1681,5,,C1,305 EAST 109TH STREET,...,C1,0,2/16/18,305 EAST 109TH STREET,"305 EAST 109TH STREET New York, NY 10029","(40.7925169, -73.94036309)",40.792517,-73.940363,2018,2
8,8,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1681,6,,C1,307 EAST 109TH STREET,...,C1,0,2/16/18,307 EAST 109TH STREET,"307 EAST 109TH STREET New York, NY 10029","(40.7924786, -73.9402948)",40.792479,-73.940295,2018,2
9,9,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1682,7,,C4,309 EAST 110 STREET,...,C4,0,2/16/18,309 EAST 110 STREET,"309 EAST 110 STREET New York, NY 10029","(40.792986, -73.939835)",40.792986,-73.939835,2018,2
10,10,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1682,52,,C7,2154 SECOND AVENUE,...,C7,0,2/16/18,2154 SECOND AVENUE,"2154 SECOND AVENUE New York, NY 10029","(42.8020272, -73.9503835)",42.802027,-73.950384,2018,2
11,11,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1617,7,,D1,1680 MADISON AVENUE,...,D1,57000000,1/22/18,1680 MADISON AVENUE,"1680 MADISON AVENUE New York, NY 10029","(40.7971849, -73.9471213)",40.797185,-73.947121,2018,1
12,12,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1617,7,,D1,1680 MADISON AVENUE,...,D1,0,1/22/18,1680 MADISON AVENUE,"1680 MADISON AVENUE New York, NY 10029","(40.7971849, -73.9471213)",40.797185,-73.947121,2018,1
13,13,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1675,11,,D1,315 EAST 103 STREET,...,D1,5499827,1/31/18,315 EAST 103 STREET,"315 EAST 103 STREET New York, NY 10029","(40.788289, -73.942591)",40.788289,-73.942591,2018,1
14,14,1,HARLEM-EAST,09 COOPS - WALKUP APARTMENTS,2,1630,16,,C6,"129 EAST 102 STREET, 5A",...,C6,165000,2/5/18,129 EAST 102 STREET,"129 EAST 102 STREET New York, NY 10029","(40.789846, -73.948266)",40.789846,-73.948266,2018,2
15,15,1,HARLEM-EAST,12 CONDOS - WALKUP APARTMENTS,2,1630,1109,,R2,173 EAST 102 STREET,...,R2,0,2/1/18,173 EAST 102 STREET,"173 EAST 102 STREET New York, NY 10029","(40.789387, -73.947176)",40.789387,-73.947176,2018,2
16,16,1,HARLEM-EAST,12 CONDOS - WALKUP APARTMENTS,2,1660,1009,,R2,2141 2 AVENUE,...,R2,330000,2/2/18,2141 2 AVENUE,"2141 2 AVENUE New York, NY 10029","(40.793365, -73.940663)",40.793365,-73.940663,2018,2
17,17,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1638,1008,,R4,161 EAST 110 STREET,...,R4,625000,1/24/18,161 EAST 110 STREET,"161 EAST 110 STREET New York, NY 10029","(40.794705, -73.943607)",40.794705,-73.943607,2018,1
18,18,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1638,1032,,R4,161 EAST 110 STREET,...,R4,545000,2/14/18,161 EAST 110 STREET,"161 EAST 110 STREET New York, NY 10029","(40.794705, -73.943607)",40.794705,-73.943607,2018,2
19,19,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1676,1427,,R4,2019 1 AVENUE,...,R4,531000,1/31/18,2019 1 AVENUE,"2019 1 AVENUE New York, NY 10029","(40.5907473265306, -73.94947422)",40.590747,-73.949474,2018,1
20,20,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1680,1120,,R4,330 EAST 109TH STREET,...,R4,575000,1/18/18,330 EAST 109TH STREET,"330 EAST 109TH STREET New York, NY 10029","(40.7921486734694, -73.94030114)",40.792149,-73.940301,2018,1
21,21,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1681,1111,,R4,342 EAST 110 STREET,...,R4,767500,2/1/18,342 EAST 110 STREET,"342 EAST 110 STREET New York, NY 10029","(40.792628, -73.939867)",40.792628,-73.939867,2018,2
22,22,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1681,1214,,R4,333 EAST 109TH STREET,...,R4,623500,1/24/18,333 EAST 109TH STREET,"333 EAST 109TH STREET New York, NY 10029","(40.7922749183673, -73.94015429)",40.792275,-73.940154,2018,1
23,23,1,HARLEM-EAST,14 RENTALS - 4-10 UNIT,2A,1680,49,,S9,2118 SECOND AVENUE,...,S9,0,2/16/18,2118 SECOND AVENUE,"2118 SECOND AVENUE New York, NY 10029","(42.8020272, -73.9503835)",42.802027,-73.950384,2018,2
24,24,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 E 96 ST, CONDP",...,R9,820000,1/3/18,215 E 96 ST,"215 E 96 ST New York, NY 10128","(40.785036, -73.948381)",40.785036,-73.948381,2018,1
25,25,1,HARLEM-EAST,22 STORE BUILDINGS,4,1631,38,,K2,1878 THIRD AVE,...,K2,0,1/30/18,1878 THIRD AVE,"1878 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
26,26,1,HARLEM-EAST,22 STORE BUILDINGS,4,1631,38,,K2,1878 THIRD AVE,...,K2,0,1/13/18,1878 THIRD AVE,"1878 THIRD AVE New York, NY 10029","(42.8002283, -73.9523152)",42.800228,-73.952315,2018,1
27,27,1,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1398,24,,A4,143 EAST 63RD STREET,...,A4,15225000,1/31/18,143 EAST 63RD STREET,"143 EAST 63RD STREET New York, NY 10065","(40.76469435, -73.96580773)",40.764694,-73.965808,2018,1
28,28,1,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1398,123,,S0,141 EAST 63RD STREET,...,S0,0,1/31/18,141 EAST 63RD STREET,"141 EAST 63RD STREET New York, NY 10065","(40.764657, -73.96589)",40.764657,-73.965890,2018,1
29,29,1,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1398,168,,A4,110 EAST 64TH STREET,...,A4,9500000,1/9/18,110 EAST 64TH STREET,"110 EAST 64TH STREET New York, NY 10065","(40.76572, -73.967024)",40.765720,-73.967024,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,3694,1,HARLEM-CENTRAL,41 TAX CLASS 4 - OTHER,4,1751,38,,Z9,1852 PARK AVENUE,...,Z9,-,1/27/17,40.806218,-73.938445,"(40.806218, -73.938445)",40.806218,-73.938445,2017,1
3695,3695,1,HARLEM-CENTRAL,41 TAX CLASS 4 - OTHER,4,1751,137,,Z9,1850 PARK AVENUE,...,Z9,-,1/27/17,40.806149,-73.938483,"(40.806149, -73.938483)",40.806149,-73.938483,2017,1
3696,3696,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,71,,A5,104 EAST 101ST STREET,...,A5,-,2/4/17,40.78951,-73.949938,"(40.78951, -73.949938)",40.789510,-73.949938,2017,2
3697,3697,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1807,133,,B1,436 EAST 120 STREET,...,B1,424797,2/27/17,40.797846,-73.932152,"(40.797846, -73.932152)",40.797846,-73.932152,2017,2
3698,3698,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1623,44,,C0,60 EAST 118TH STREET,...,C0,10,2/10/17,40.800864,-73.943255,"(40.800864, -73.943255)",40.800864,-73.943255,2017,2
3699,3699,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1634,28,,C4,159 EAST 106 STREET,...,C4,2245945,2/21/17,40.792082,-73.945493,"(40.792082, -73.945493)",40.792082,-73.945493,2017,2
3700,3700,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1638,140,,C3,184 EAST 111 STREET,...,C3,1469500,2/8/17,40.794879,-73.942914,"(40.794879, -73.942914)",40.794879,-73.942914,2017,2
3701,3701,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1796,7,,C4,311 EAST 119 STREET,...,C4,-,1/28/17,40.798774,-73.935691,"(40.798774, -73.935691)",40.798774,-73.935691,2017,1
3702,3702,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1796,7,,C4,311 EAST 119 STREET,...,C4,1825000,1/27/17,40.798774,-73.935691,"(40.798774, -73.935691)",40.798774,-73.935691,2017,1
3703,3703,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1815,10,,C4,515 EAST 118TH STREET,...,C4,1825000,2/16/17,40.796106,-73.931257,"(40.796106, -73.931257)",40.796106,-73.931257,2017,2
3704,3704,1,HARLEM-EAST,08 RENTALS - ELEVATOR APARTMENTS,2,1630,5,,D3,109 EAST 102 STREET,...,D3,14700000,1/19/17,40.790324,-73.949035,"(40.790324, -73.949035)",40.790324,-73.949035,2017,1
3705,3705,1,HARLEM-EAST,09 COOPS - WALKUP APARTMENTS,2,1624,43,,C6,"156 EAST 97TH STREET, 1",...,C6,200000,2/6/17,40.786084,-73.949598,"(40.786084, -73.949598)",40.786084,-73.949598,2017,2
3706,3706,1,HARLEM-EAST,09 COOPS - WALKUP APARTMENTS,2,1624,44,,C6,"154 EAST 97TH STREET, 14",...,C6,218000,1/4/17,40.78612,-73.949684,"(40.78612, -73.949684)",40.786120,-73.949684,2017,1
3707,3707,1,HARLEM-EAST,12 CONDOS - WALKUP APARTMENTS,2,1788,1115,,R2,206 EAST 124 STREET,...,R2,497900,1/24/17,40.802687,-73.935765,"(40.802687, -73.935765)",40.802687,-73.935765,2017,1
3708,3708,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1616,1006,,R4,77 EAST 110 STREET,...,R4,173394,2/13/17,40.795804,-73.946495,"(40.795804, -73.946495)",40.795804,-73.946495,2017,2
3709,3709,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1204,,R4,1810 3 AVENUE,...,R4,595000,2/28/17,40.78821,-73.94736,"(40.78821, -73.94736)",40.788210,-73.947360,2017,2
3710,3710,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1209,,R4,194 EAST 101 STREET,...,R4,710000,1/31/17,40.788449,-73.947436,"(40.788449, -73.947436)",40.788449,-73.947436,2017,1
3711,3711,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1249,,R4,194 EAST 101 STREET,...,R4,755000,1/6/17,40.788449,-73.947436,"(40.788449, -73.947436)",40.788449,-73.947436,2017,1
3712,3712,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1253,,R4,1810 3 AVENUE,...,R4,585292,1/17/17,40.78821,-73.94736,"(40.78821, -73.94736)",40.788210,-73.947360,2017,1
3713,3713,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1257,,R4,194 EAST 101 STREET,...,R4,790000,2/7/17,40.788449,-73.947436,"(40.788449, -73.947436)",40.788449,-73.947436,2017,2
3714,3714,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1259,,R4,194 EAST 101 STREET,...,R4,792163,2/15/17,40.788449,-73.947436,"(40.788449, -73.947436)",40.788449,-73.947436,2017,2
3715,3715,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1628,1273,,R4,1810 3 AVENUE,...,R4,605000,2/8/17,40.78821,-73.94736,"(40.78821, -73.94736)",40.788210,-73.947360,2017,2
3716,3716,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1629,1135,,R4,1595 LEXINGTON AVENUE,...,R4,638000,1/25/17,40.789192,-73.948331,"(40.789192, -73.948331)",40.789192,-73.948331,2017,1
3717,3717,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1631,1035,,R4,1635 LEXINGTON AVENUE,...,R4,801362,2/10/17,40.790594,-73.947215,"(40.790594, -73.947215)",40.790594,-73.947215,2017,2
3718,3718,1,HARLEM-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1638,1061,,R4,161 EAST 110 STREET,...,R4,-,1/19/17,40.794705,-73.943607,"(40.794705, -73.943607)",40.794705,-73.943607,2017,1
3719,3719,1,HARLEM-EAST,14 RENTALS - 4-10 UNIT,2A,1616,38,,S3,94 EAST 111 STREET,...,S3,-,1/31/17,40.796178,-73.945986,"(40.796178, -73.945986)",40.796178,-73.945986,2017,1
3720,3720,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1002,,R9,"215 EAST 96TH STREET, 39H",...,R9,1255000,2/15/17,40.785036,-73.948381,"(40.785036, -73.948381)",40.785036,-73.948381,2017,2
3721,3721,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 EAST 96TH STREET, CONDP",...,R9,1450000,1/5/17,40.785036,-73.948381,"(40.785036, -73.948381)",40.785036,-73.948381,2017,1
3722,3722,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 EAST 96TH STREET, CONDP",...,R9,957500,1/31/17,40.785036,-73.948381,"(40.785036, -73.948381)",40.785036,-73.948381,2017,1
3723,3723,1,HARLEM-EAST,17 CONDO COOPS,2,1646,1103,,R9,"215 EAST 96TH STREET, CONDP",...,R9,870000,1/19/17,40.785036,-73.948381,"(40.785036, -73.948381)",40.785036,-73.948381,2017,1

In [29]:
reformat = pd.read_csv('all_ues_sales_geocode_2017-2018.csv')
reformat14_16 = pd.read_csv('ues_data_14-16.csv')

In [32]:
reformat = reformat[(reformat['SALE PRICE'] > 100000) & (reformat['SALE PRICE'] < 5000000)]#.groupby(['YEAR', 'LAT', 'LONG']).sum('SALE PRICE')

reformat14_16 = reformat14_16[(reformat14_16['price'] > 100000) & (reformat14_16['price'] < 5000000)]

In [23]:
data1718_count = reformat.groupby(['LAT', 'LONG', 'YEAR']).size().rename('count').reset_index()

In [33]:
data1416_count = reformat14_16.groupby(['lat', 'long', 'year']).size().rename('count').reset_index()

In [25]:
data1718_count.to_csv('RE_1718_count.csv')

In [35]:
data1416_count

            lat       long  year  count
0     40.760697 -73.958759  2015      9
1     40.760697 -73.958759  2014      9
2     40.760697 -73.958759  2016      7
3     40.761236 -73.961935  2015      1
4     40.761236 -73.961935  2014      1
5     40.761236 -73.961935  2016      1
6     40.761361 -73.957780  2015     16
7     40.761361 -73.957780  2014     10
8     40.761361 -73.957780  2016      8
9     40.761381 -73.960332  2015      2
10    40.761381 -73.960332  2014      4
11    40.761381 -73.960332  2016      1
12    40.761579 -73.958834  2014      8
13    40.761579 -73.958834  2016      9
14    40.761579 -73.958834  2015     14
15    40.761848 -73.961483  2015      9
16    40.761848 -73.961483  2014      4
17    40.761848 -73.961483  2016      9
18    40.761875 -73.958606  2014      1
19    40.761945 -73.961667  2016      2
20    40.761996 -73.959844  2015      8
21    40.761996 -73.959844  2014     15
22    40.761996 -73.959844  2016      6
23    40.762278 -73.966071  2015      4
24    40.762278 -73.966071  2014      3
25    40.762278 -73.966071  2016      5
26    40.762322 -73.958725  2015      7
27    40.762322 -73.958725  2014      7
28    40.762322 -73.958725  2016      7
29    40.762420 -73.962833  2014      7
...         ...        ...   ...    ...
1676  40.794989 -73.942922  2015      1
1677  40.795030 -73.943016  2016      1
1678  40.795050 -73.950550  2015      3
1679  40.795050 -73.950550  2014      2
1680  40.795086 -73.935341  2016      1
1681  40.795125 -73.935439  2014      1
1682  40.795447 -73.948166  2015      1
1683  40.795447 -73.948166  2016      1
1684  40.795518 -73.935774  2015      1
1685  40.795658 -73.936724  2016      1
1686  40.795678 -73.950080  2015      6
1687  40.795678 -73.950080  2014     13
1688  40.795678 -73.950080  2016     11
1689  40.795793 -73.948671  2015      1
1690  40.795836 -73.946876  2016     11
1691  40.795960 -73.947801  2015      2
1692  40.796294 -73.946006  2014      1
1693  40.796304 -73.949614  2015      4
1694  40.796304 -73.949614  2016      6
1695  40.796304 -73.949621  2014     21
1696  40.796443 -73.936471  2014      1
1697  40.796443 -73.936471  2015      1
1698  40.796682 -73.936994  2014      1
1699  40.796812 -73.937900  2014      1
1700  40.797216 -73.940389  2016      1
1701  40.797704 -73.939424  2014      1
1702  40.798493 -73.941294  2015      1
1703  40.799426 -73.945671  2014      1
1704  40.799524 -73.943720  2015      1
1705  40.800370 -73.945786  2015      1

[1706 rows x 4 columns]

In [28]:
data1718_sum = reformat.groupby(['LAT', 'LONG', 'YEAR'])[['SALE PRICE']].sum().reset_index()
data1718_sum.to_csv('RE_1718_sum.csv')