In [46]:
import geocoder
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

In [9]:
# format of how this works
g = geocoder.google(' 96 AVENUE B, New York, NY, 10009')

In [64]:
g.latlng

[40.7247191, -73.9817288]

In [3]:
#zipcode_focus = [10021, 10028, 10065, 10075, 10128, 10001, 10018,10002, 10038, 10280, 10281, 10024, 10025, 10027, 10002, 10003, 10009, 10012]

zipcode_focus = [10065,10021, 10075,  10028,10128 ,10029]

In [47]:
#copy relevant addresses

geocoded = pd.read_csv("data/geocoder/all_addresses_ues.csv")

In [50]:
recent = pd.read_excel("data/rollingsales_manhattan.xls")
m14 = pd.read_excel("data/2014_manhattan.xls")
m15 = pd.read_excel("data/2015_manhattan.xls")
m16 = pd.read_excel("data/2016_manhattan.xls")

In [51]:
m14 = m14[4:]
m15 = m15[4:]
m16 = m16[4:]
recent = recent[4:]

In [52]:
header = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS',
       'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

In [53]:
m14.columns = header
m15.columns = header
m16.columns = header
recent.columns = header

In [54]:
m14.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [55]:
m14['ADDRESS_clean'] = m14['ADDRESS'].str.split(',').str[0]
m15['ADDRESS_clean'] = m15['ADDRESS'].str.split(',').str[0]
m16['ADDRESS_clean'] = m16['ADDRESS'].str.split(',').str[0]
recent['ADDRESS_clean'] = recent['ADDRESS'].str.split(',').str[0]

In [56]:
m14.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean
4,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,2,1400,1839,1901,1,S1,0,2014-12-05 00:00:00,96 AVENUE B
5,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,372,37,,S2,17 AVENUE D,,...,1,3,826,2075,1910,1,S2,0,2014-01-31 00:00:00,17 AVENUE D
6,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,0,3,2381,3084,1899,1,C0,2900000,2014-11-26 00:00:00,243 EAST 7TH STREET
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,2,10,2650,7620,1920,2,C7,0,2014-07-18 00:00:00,300 EAST 2ND STREET
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,373,15,,D1,324 EAST 4TH STREET,,...,0,11,2212,8294,1920,2,C3,0,2014-05-30 00:00:00,324 EAST 4TH STREET

In [57]:
m14['FullAddress'] = m14['ADDRESS_clean'] + ' New York, NY ' + m14['ZIP CODE'].astype(str)
m15['FullAddress'] = m15['ADDRESS_clean'] + ' New York, NY ' + m15['ZIP CODE'].astype(str)
m16['FullAddress'] = m16['ADDRESS_clean'] + ' New York, NY ' + m16['ZIP CODE'].astype(str)
recent['FullAddress'] = recent['ADDRESS_clean'] + ' New York, NY ' + recent['ZIP CODE'].astype(str)

In [58]:
recent_focus = recent[recent['ZIP CODE'].isin(zipcode_focus)]
m14_focus = m14[m14['ZIP CODE'].isin(zipcode_focus)]
m15_focus = m15[m15['ZIP CODE'].isin(zipcode_focus)]
m16_focus = m16[m16['ZIP CODE'].isin(zipcode_focus)]

In [59]:
all_ues_sales = recent_focus.append(m14_focus).append(m15_focus).append(m16_focus)

In [27]:
address_list_recent = recent['FullAddress'].tolist()

In [42]:
all_address = recent_focus['FullAddress'].tolist() + m15_focus['FullAddress'].tolist() + m14_focus['FullAddress'].tolist() + m16_focus['FullAddress'].tolist()

In [43]:
all_address = list(set(all_address))
latlong_alladddress_first = []

In [30]:
all_address[0: 5]

['200 WEST 79TH STREET New York, NY 10024',
 '67 RIVERSIDE DRIVE New York, NY 10024',
 '134 W 93RD STREET                         New York, NY 10025',
 '790 COLUMBUS AVENUE New York, NY 10025',
 '225 EAST 73RD STREET New York, NY 10021']

In [192]:
file = open('unique_addresses.txt', 'w')
for item in all_address:
    file.write("%s\n" % item)

In [44]:
# most addreses to a df
df = pd.DataFrame({'Full Address': all_address})

In [45]:
df.to_csv('all_addresses_ues.csv')

In [31]:
#all_ues_sales_geocode.head()

In [49]:
#geocoded

In [60]:
geocoded.columns = ['FullAddress', 'LAT_LONG']

In [61]:
all_ues_sales_geocode = pd.merge(all_ues_sales, geocoded, on = ['FullAddress'])

In [63]:
all_ues_sales_geocode = all_ues_sales_geocode.drop_duplicates()

In [64]:
all_ues_sales_geocode.to_csv('all_ues_sales_geocode.csv')