In [2]:
import geocoder
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

In [9]:
# format of how this works
g = geocoder.google(' 96 AVENUE B, New York, NY, 10009')

In [64]:
g.latlng

[40.7247191, -73.9817288]

In [3]:
#zipcode_focus = [10021, 10028, 10065, 10075, 10128, 10001, 10018,10002, 10038, 10280, 10281, 10024, 10025, 10027, 10002, 10003, 10009, 10012]
#10065, 10021, 10075, 10028, 10128, 10029, 10035
zipcode_focus = [10065,10021, 10075, 10028,10128 ,10029]

In [18]:
#copy relevant addresses

geocoded = pd.read_csv("data/geocoder/all_addresses_ues.csv")

In [3]:
recent = pd.read_excel("data/rollingsales_manhattan.xls")
m14 = pd.read_excel("data/2014_manhattan.xls")
m15 = pd.read_excel("data/2015_manhattan.xls")
m16 = pd.read_excel("data/2016_manhattan.xls")

In [4]:
m14 = m14[4:]
m15 = m15[4:]
m16 = m16[4:]
recent = recent[4:]

In [5]:
header = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS',
       'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

In [6]:
m14.columns = header
m15.columns = header
m16.columns = header
recent.columns = header

In [7]:
m14.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [55]:
m14['ADDRESS_clean'] = m14['ADDRESS'].str.split(',').str[0]
m15['ADDRESS_clean'] = m15['ADDRESS'].str.split(',').str[0]
m16['ADDRESS_clean'] = m16['ADDRESS'].str.split(',').str[0]
recent['ADDRESS_clean'] = recent['ADDRESS'].str.split(',').str[0]

In [56]:
m14.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean
4,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,402,42,,S1,96 AVENUE B,,...,1,2,1400,1839,1901,1,S1,0,2014-12-05 00:00:00,96 AVENUE B
5,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,372,37,,S2,17 AVENUE D,,...,1,3,826,2075,1910,1,S2,0,2014-01-31 00:00:00,17 AVENUE D
6,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,66,,C0,243 EAST 7TH STREET,,...,0,3,2381,3084,1899,1,C0,2900000,2014-11-26 00:00:00,243 EAST 7TH STREET
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,51,,C7,300 EAST 2ND STREET,,...,2,10,2650,7620,1920,2,C7,0,2014-07-18 00:00:00,300 EAST 2ND STREET
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,373,15,,D1,324 EAST 4TH STREET,,...,0,11,2212,8294,1920,2,C3,0,2014-05-30 00:00:00,324 EAST 4TH STREET

In [57]:
m14['FullAddress'] = m14['ADDRESS_clean'] + ' New York, NY ' + m14['ZIP CODE'].astype(str)
m15['FullAddress'] = m15['ADDRESS_clean'] + ' New York, NY ' + m15['ZIP CODE'].astype(str)
m16['FullAddress'] = m16['ADDRESS_clean'] + ' New York, NY ' + m16['ZIP CODE'].astype(str)
recent['FullAddress'] = recent['ADDRESS_clean'] + ' New York, NY ' + recent['ZIP CODE'].astype(str)

In [58]:
recent_focus = recent[recent['ZIP CODE'].isin(zipcode_focus)]
m14_focus = m14[m14['ZIP CODE'].isin(zipcode_focus)]
m15_focus = m15[m15['ZIP CODE'].isin(zipcode_focus)]
m16_focus = m16[m16['ZIP CODE'].isin(zipcode_focus)]

In [59]:
all_ues_sales = recent_focus.append(m14_focus).append(m15_focus).append(m16_focus)

In [27]:
address_list_recent = recent['FullAddress'].tolist()

In [42]:
all_address = recent_focus['FullAddress'].tolist() + m15_focus['FullAddress'].tolist() + m14_focus['FullAddress'].tolist() + m16_focus['FullAddress'].tolist()

In [43]:
all_address = list(set(all_address))
latlong_alladddress_first = []

In [30]:
all_address[0: 5]

['200 WEST 79TH STREET New York, NY 10024',
 '67 RIVERSIDE DRIVE New York, NY 10024',
 '134 W 93RD STREET                         New York, NY 10025',
 '790 COLUMBUS AVENUE New York, NY 10025',
 '225 EAST 73RD STREET New York, NY 10021']

In [192]:
file = open('unique_addresses.txt', 'w')
for item in all_address:
    file.write("%s\n" % item)

In [44]:
# most addreses to a df
df = pd.DataFrame({'Full Address': all_address})

In [45]:
df.to_csv('all_addresses_ues.csv')

In [31]:
#all_ues_sales_geocode.head()

In [49]:
#geocoded

In [60]:
geocoded.columns = ['FullAddress', 'LAT_LONG']

In [61]:
all_ues_sales_geocode = pd.merge(all_ues_sales, geocoded, on = ['FullAddress'])

In [63]:
all_ues_sales_geocode = all_ues_sales_geocode.drop_duplicates()

In [64]:
all_ues_sales_geocode.to_csv('all_ues_sales_geocode.csv')

In [ ]:
#edit out comma

In [6]:
final = pd.read_csv("all_ues_sales_geocode.csv")

In [34]:
#final['LAT'], final['LONG'] = final['LAT_LONG'].str.split(',', 1).str
final['LAT'] = final['LAT'].str.replace('(', '').replace('[', '')
final['LONG'] = final['LONG'].str.replace(')', '').replace(']', '')

In [36]:
final.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean,FullAddress,LAT_LONG,LAT,LONG
0,0,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1625,101,,A9,101B EAST 97TH STREET,...,1925,1,A9,0,2017-03-07 00:00:00,101B EAST 97TH STREET,"101B EAST 97TH STREET New York, NY 10029","(40.7871689, -73.9516058430669)",40.7871689,-73.9516058430669
1,1,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,65,,A5,122 EAST 101ST STREET,...,1890,1,A5,3900000,2017-08-31 00:00:00,122 EAST 101ST STREET,"122 EAST 101ST STREET New York, NY 10029","(40.78926485, -73.9495173205937)",40.78926485,-73.9495173205937
2,2,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,71,,A5,104 EAST 101 STREET,...,1890,1,A5,0,2017-03-31 00:00:00,104 EAST 101 STREET,"104 EAST 101 STREET New York, NY 10029",NaN,NaN,NaN
3,3,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1688,15,,S1,333 EAST 116 STREET,...,1899,1,S1,375000,2017-10-10 00:00:00,333 EAST 116 STREET,"333 EAST 116 STREET New York, NY 10029",0,0,NaN
4,4,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1643,22,,S2,153 EAST 115 STREET,...,1900,1,S2,1319700,2017-07-12 00:00:00,153 EAST 115 STREET,"153 EAST 115 STREET New York, NY 10029",0,0,NaN

In [38]:
final.to_csv('all_ues_sales_geocode.csv')

In [8]:
#edit title

ues_data = pd.read_csv('all_ues_sales_geocode.csv')

In [14]:
ues_data['SALE DATE'] = pd.to_datetime(ues_data['SALE DATE'])

In [15]:

ues_data['YEAR'] = pd.DatetimeIndex(ues_data['SALE DATE']).year
ues_data['MONTH'] = pd.DatetimeIndex(ues_data['SALE DATE']).month

In [16]:
ues_data

,Unnamed: 0,Unnamed: 0.1,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,...,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,ADDRESS_clean,FullAddress,LAT_LONG,LAT,LONG,YEAR,MONTH
0,0,0,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1625,101,,A9,...,A9,0,2017-03-07,101B EAST 97TH STREET,"101B EAST 97TH STREET New York, NY 10029","(40.7871689, -73.9516058430669)",40.7871689,-73.95160584,2017,3
1,1,1,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,65,,A5,...,A5,3900000,2017-08-31,122 EAST 101ST STREET,"122 EAST 101ST STREET New York, NY 10029","(40.78926485, -73.9495173205937)",40.78926485,-73.94951732,2017,8
2,2,2,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1628,71,,A5,...,A5,0,2017-03-31,104 EAST 101 STREET,"104 EAST 101 STREET New York, NY 10029",NaN,NaN,NaN,2017,3
3,3,3,1,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1688,15,,S1,...,S1,375000,2017-10-10,333 EAST 116 STREET,"333 EAST 116 STREET New York, NY 10029",0,0,NaN,2017,10
4,4,4,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1643,22,,S2,...,S2,1319700,2017-07-12,153 EAST 115 STREET,"153 EAST 115 STREET New York, NY 10029",0,0,NaN,2017,7
5,5,5,1,HARLEM-EAST,02 TWO FAMILY DWELLINGS,1,1710,108,,B3,...,B3,0,2017-11-08,413 EAST 116TH STREET,"413 EAST 116TH STREET New York, NY 10029","(40.79589245, -73.9345862678688)",40.79589245,-73.93458627,2017,11
6,6,6,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1659,31,,C0,...,C0,2500000,2017-04-11,242 EAST 110 STREET,"242 EAST 110 STREET New York, NY 10029",0,0,NaN,2017,4
7,7,7,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1660,117,,C0,...,C0,0,2017-04-28,237 EAST 110 STREET,"237 EAST 110 STREET New York, NY 10029",0,0,NaN,2017,4
8,8,8,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1660,118,,C0,...,C0,0,2017-03-10,239 EAST 110 STREET,"239 EAST 110 STREET New York, NY 10029",0,0,NaN,2017,3
9,9,9,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1661,41,,C0,...,C0,0,2017-09-13,218 EAST 112 STREET,"218 EAST 112 STREET New York, NY 10029",0,0,NaN,2017,9
10,10,10,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1661,110,,C0,...,C0,0,2017-05-08,217 EAST 111 STREET,"217 EAST 111 STREET New York, NY 10029",0,0,NaN,2017,5
11,11,11,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1661,110,,C0,...,C0,0,2017-03-22,217 EAST 111TH STREET,"217 EAST 111TH STREET New York, NY 10029","(40.79456745, -73.94135675)",40.79456745,-73.94135675,2017,3
12,12,12,1,HARLEM-EAST,03 THREE FAMILY DWELLINGS,2A,1710,11,,C3,...,C0,1533000,2017-07-31,419 EAST 116 STREET,"419 EAST 116 STREET New York, NY 10029",NaN,NaN,NaN,2017,7
13,13,13,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1621,41,,C7,...,C7,5400000,2018-01-30,74 EAST 116 STREET,"74 EAST 116 STREET New York, NY 10029",0,0,NaN,2018,1
14,14,14,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1625,71,,C4,...,C4,0,2017-06-29,1265 PARK AVENUE,"1265 PARK AVENUE New York, NY 10029","(40.7874993, -73.9514555279825)",40.7874993,-73.95145553,2017,6
15,15,15,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1627,21,,C7,...,C7,0,2017-06-29,1555 LEXINGTON AVENUE,"1555 LEXINGTON AVENUE New York, NY 10029","(40.7879286, -73.9491294359391)",40.7879286,-73.94912944,2017,6
16,16,16,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1627,22,,C7,...,C7,0,2017-06-29,1553 LEXINGTON AVENUE,"1553 LEXINGTON AVENUE New York, NY 10029",0,0,NaN,2017,6
17,17,17,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1628,2,,C1,...,C1,0,2017-06-29,103 EAST 100 STREET,"103 EAST 100 STREET New York, NY 10029",NaN,NaN,NaN,2017,6
18,18,18,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,4,,C4,...,C4,0,2017-06-29,1325 PARK AVENUE,"1325 PARK AVENUE New York, NY 10029","(40.7892407, -73.9501180519357)",40.7892407,-73.95011805,2017,6
19,19,19,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,6,,C4,...,C4,3826858,2017-06-29,111-117 EAST 100 STREET,"111-117 EAST 100 STREET New York, NY 10029",0,0,NaN,2017,6
20,20,20,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,10,,C1,...,C1,0,2017-06-29,119-121 EAST 100 STREET,"119-121 EAST 100 STREET New York, NY 10029",0,0,NaN,2017,6
21,21,21,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,49,,C4,...,C4,0,2017-06-29,178 EAST 101 STREET,"178 EAST 101 STREET New York, NY 10029",0,0,NaN,2017,6
22,22,22,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1628,103,,C4,...,C4,125500,2017-06-29,107 EAST 100 STREET,"107 EAST 100 STREET New York, NY 10029",NaN,NaN,NaN,2017,6
23,23,23,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1629,30,,C1,...,C1,3730232,2017-06-29,177-179 EAST 101ST,"177-179 EAST 101ST New York, NY 10029",NaN,NaN,NaN,2017,6
24,24,24,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1629,64,,C1,...,C1,0,2017-06-29,116 EAST 102 STREET,"116 EAST 102 STREET New York, NY 10029",0,0,NaN,2017,6
25,25,25,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1629,65,,C1,...,C1,0,2017-06-29,114 EAST 102 STREET,"114 EAST 102 STREET New York, NY 10029",0,0,NaN,2017,6
26,26,26,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1631,47,,C4,...,C4,6800000,2017-05-16,168 EAST 104 STREET,"168 EAST 104 STREET New York, NY 10029",0,0,NaN,2017,5
27,27,27,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2B,1631,48,,C4,...,C4,0,2017-05-16,166 EAST 104 STREET,"166 EAST 104 STREET New York, NY 10029",0,0,NaN,2017,5
28,28,28,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2A,1632,145,,C5,...,C5,5280000,2017-08-10,164 EAST 105TH STREET,"164 EAST 105TH STREET New York, NY 10029","(40.79110325, -73.9461557443282)",40.79110325,-73.94615574,2017,8
29,29,29,1,HARLEM-EAST,07 RENTALS - WALKUP APARTMENTS,2,1633,19,,C7,...,C7,5000000,2017-12-05,1675 LEXINGTON AVENUE,"1675 LEXINGTON AVENUE New York, NY 10029","(40.7916166, -73.9465711)",40.7916166,-73.9465711,2017,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,15231,15300,1,UPPER EAST SIDE (79-96),26 OTHER HOTELS,4,1577,149,,H3,...,H3,6450000,2016-01-19,502 EAST 81ST ST,502 EAST 81ST ST New ...,0,0,NaN,2016,1
15232,15232,15301,1,UPPER EAST SIDE (79-96),30 WAREHOUSES,4,1516,24,,E9,...,E1,9975000,2016-11-15,159 EAST 87TH STREET,159 EAST 87TH STREET New ...,"[40.780178, -73.95451]",[40.780178,-73.95451],2016,11
15233,15233,15302,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1510,40,,V1,...,V1,100000,2016-02-22,1444 3 AVENUE,1444 3 AVENUE New ...,0,0,NaN,2016,2
15234,15234,15303,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,1,,V1,...,V1,0,2016-10-31,1538 SECOND AVENUE,1538 SECOND AVENUE New ...,"(42.8020272, -73.9503835)",42.8020272,-73.9503835,2016,10
15235,15235,15304,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,2,,V1,...,V1,0,2016-10-31,1540 SECOND AVENUE,1540 SECOND AVENUE New ...,0,0,NaN,2016,10
15236,15236,15305,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,3,,V1,...,V1,0,2016-10-31,1542 SECOND AVENUE,1542 SECOND AVENUE New ...,0,0,NaN,2016,10
15237,15237,15306,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,4,,V1,...,V1,0,2016-10-31,1544 SECOND AVENUE,1544 SECOND AVENUE New ...,"[40.7741941, -73.9540919]",[40.7741941,-73.9540919],2016,10
15238,15238,15307,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,52,,V1,...,V1,0,2016-10-31,1546 SECOND AVENUE,1546 SECOND AVENUE New ...,0,0,NaN,2016,10
15239,15239,15308,1,UPPER EAST SIDE (79-96),31 COMMERCIAL VACANT LAND,4,1543,104,,V1,...,V1,0,2016-10-31,1540R 2 AVENUE,1540R 2 AVENUE New ...,0,0,NaN,2016,10
15240,15240,15309,1,UPPER EAST SIDE (79-96),33 EDUCATIONAL FACILITIES,4,1550,31,,W3,...,W3,15000000,2016-04-19,350 EAST 88TH STREET,350 EAST 88TH STREET New ...,"(40.77822535, -73.9492110115326)",40.77822535,-73.94921101,2016,4
15241,15241,15310,1,UPPER EAST SIDE (79-96),37 RELIGIOUS FACILITIES,4,1496,41,,M1,...,M1,0,2016-03-06,1012 PARK AVENUE,1012 PARK AVENUE New ...,0,0,NaN,2016,3
15242,15242,15311,1,UPPER EAST SIDE (79-96),42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC,,1538,1105,,,...,RA,34194956,2016-07-28,212 EAST 93RD STREET,212 EAST 93RD STREET New ...,0,0,NaN,2016,7
15243,15243,15312,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,14,,C7,...,C7,0,2016-12-28,23 EAST 108,23 EAST 108 New ...,0,0,NaN,2016,12
15244,15244,15313,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2B,1614,57,,C4,...,C4,0,2016-12-28,26 EAST 109 STREET,26 EAST 109 STREET New ...,0,0,NaN,2016,12
15245,15245,15314,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,58,,C1,...,C1,0,2016-12-28,24 EAST 109 STREET,24 EAST 109 STREET New ...,0,0,NaN,2016,12
15246,15246,15315,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,60,,C1,...,C1,0,2016-12-28,22 EAST 109 STREET,22 EAST 109 STREET New ...,NaN,NaN,NaN,2016,12
15247,15247,15316,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2B,1614,62,,C1,...,C1,0,2016-12-28,18 EAST 109 STREET,18 EAST 109 STREET New ...,0,0,NaN,2016,12
15248,15248,15317,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1614,63,,C1,...,C1,9734400,2016-12-28,16 EAST 109 STREET,16 EAST 109 STREET New ...,0,0,NaN,2016,12
15249,15249,15318,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1615,9,,C1,...,C1,6827200,2016-12-28,11-13 EAST 109 STREET,11-13 EAST 109 STREET New ...,0,0,NaN,2016,12
15250,15250,15319,1,UPPER EAST SIDE (96-110),07 RENTALS - WALKUP APARTMENTS,2,1615,10,,C1,...,C1,0,2016-12-28,15-17 EAST 109 STREET,15-17 EAST 109 STREET New ...,0,0,NaN,2016,12
15251,15251,15320,1,UPPER EAST SIDE (96-110),08 RENTALS - ELEVATOR APARTMENTS,2,1615,60,,D5,...,D5,10140400,2016-12-28,8-18 EAST 110 STREET,8-18 EAST 110 STREET New ...,0,0,NaN,2016,12
15252,15252,15321,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,0,2016-02-17,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,2
15253,15253,15322,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,1175000,2016-04-01,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,4
15254,15254,15323,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,1725000,2016-07-28,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,7
15255,15255,15324,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,2750000,2016-08-01,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,8
15256,15256,15325,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,3725000,2016-08-08,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,8
15257,15257,15326,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1602,13,,D4,...,D4,1400000,2016-04-04,17 EAST 96TH STREET,"17 EAST 96TH STREET New York, NY 10128",0,0,NaN,2016,4
15258,15258,15327,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1603,60,,D4,...,D4,999000,2016-12-21,16 EAST 98 STREET,"16 EAST 98 STREET New York, NY 10029",0,0,NaN,2016,12
15259,15259,15328,1,UPPER EAST SIDE (96-110),10 COOPS - ELEVATOR APARTMENTS,2,1608,1,,D4,...,D4,7900000,2016-07-26,1215 5 AVENUE,"1215 5 AVENUE New York, NY 10029","(40.5898081538462, -73.9580498461538)",40.58980815,-73.95804985,2016,7
15260,15260,15329,1,UPPER EAST SIDE (96-110),13 CONDOS - ELEVATOR APARTMENTS,2,1607,1044,,R4,...,R4,2561497,2016-02-19,1200 5TH AVENUE,1200 5TH AVENUE New ...,"(40.7912166, -73.9531347)",40.7912166,-73.9531347,2016,2

In [17]:
ues_data.to_csv('all_ues_sales_geocode.csv')